@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    width: 100%;
}

.navbar{
    background-color: rgb(13, 13, 13);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
}

#navbar{
    padding: 0;
}

#navbar ul{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li{
    position: relative;
}

#navbar>ul>li{
    padding: 10px 0 10px 24px;
}

#navbar a,
#navbar a:focus{
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 3px;
    position: relative;
    transition: 0.3s;
    white-space: nowrap;
}

#navbar a i,
#navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

#navbar>ul>li>a:before{
    background-color: #d7c379;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 0px;
    width: 100%;
}

#navbar a:hover:before,
#navbar li:hover>a:before,
#navbar .active:before{
    visibility: visible;
    width: 100%;
}

#navbar a:hover,
#navbar .active,
#navbar .active:focus,
#navbar li:hover>a{
    color: #fff;
}

.lazyload{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(13, 13, 13);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /* color: rgba(255, 255, 255, 0.7); */
    color: #d7c379;
    display: flex;
    font-family: 'Poppins';
    height: 100%;
    letter-spacing: 1px;
    padding: 3rem;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

footer  img{
    margin-bottom: 0.75rem;
    transition: all 0.4s;
}

footer img:hover{
    opacity: 0.8;
}

#footer-contacts{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-link{
    text-decoration: none;
}

#titles{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text{
    font-family: 'Afacad Flux';
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
}

#text{
    position: relative;
    color: #ffff;
    background-color: #141414;
    width: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
}

.texta{
    font-family: 'Afacad Flux';
    font-size: 20px;
    text-align: center;
    position: fixed;
}

#carouselExampleSlidesOnly{
    width: 60%;
}

.titlest{
    font-family: 'Big Shoulders Display';
    font-size: 100px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

.containerMain{
    padding: 35px 10%;
    width: 100%;
}

.titlex{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 0 6px;
    color: #313b44;
}

.textx{
    font-family: 'Afacad Flux';
    font-size: 19px;
    margin-bottom: 1rem;
    margin-right: 5rem;
    text-align: justify;
    line-height: 1.2;
    color: #666;
}

.textxx{
    font-family: 'Afacad Flux';
    font-size: 19px;
    margin-right: 5rem;
    text-align: justify;
    color: #666;
    text-indent: 2rem;
}

.coluna-00 header.coluna-titulo{
    font-family: 'Poppins';
    letter-spacing: 5px;
    text-transform: uppercase;
}

.coluna-00 .content{
    border-left: solid 2px #bababa;
    padding: 0 30px;
}

.coluna-00 .content .box{
    border: solid 1px #eaeaea;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transition: all 0.4s;
}

.coluna-00 .content .box:hover{
    border: solid 1px transparent;
    box-shadow: 0px 3px 12px 0px #ccc;
}

.coluna-00 .content .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #d7c379;
    border: solid 2px #fff;
}

.img-volei{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo{
    position: absolute;
    top: 7rem;
    overflow: hidden;
}

#conteudo{
    flex-direction: column;
}

.folou{
    color: #313b44;
    font-family: 'Afacad Flux';
    font-size: 12px;
}

.material-symbols-outlined{
    padding-right: 1rem;
}

.atletas{
    max-width: 400px;
    border-radius: 50%;
}

.titlexa{
    font-family: 'Poppins';
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.marquee{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.marquee button{
    margin-right: 80px;
}

.marquee button:last-child{
    margin-right: 0px;
}

.btn{
    background-color: transparent;
    border: 0;
}

.btn:hover{
    background-color: transparent;
    border: 0;
}

.btn a{
    text-decoration: none;
}

#exampleModalLabel{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.modal-body p{
    font-family: 'Afacad Flux';
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
}

.btn-primary{
    transition-duration: 1s;
}

.btn-primary:hover{
    transform: scale(1.1);
    transition-duration: 2s;
}

.medals-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: black;
	margin-bottom: 7rem;
}

.medals-table th, .medals-table td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
	color: white;
	font-family: "Gotham";
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.medals-table th {
    background-color: #d7c379;
    color: black;
	font-family: "Gotham";
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.medals-table tr:nth-child(even) {
    background-color: #141414;
	color: white;
	font-family: "Gotham";
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: fixed;
    object-fit: cover;
    width: 100%;
    z-index: -1;
}

.banner .title-banner{
    position: relative;
    /* max-width: 100px; */
    margin: 0 auto;
    text-align: center;
}

.banner .title-banner .titlest{
    margin: 0;
    padding: 0;
}