*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.navbar{
    background-color: rgb(13, 13, 13);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
}

#navbar{
    padding: 0;
}

#navbar ul{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li{
    position: relative;
}

#navbar>ul>li{
    padding: 10px 0 10px 24px;
}

#navbar a,
#navbar a:focus{
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    justify-content: space-between;
    padding: 0 3px;
    position: relative;
    transition: 0.3s;
    white-space: nowrap;
}

#navbar a i,
#navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

#navbar>ul>li>a:before{
    background-color: #d7c379;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    visibility: hidden;
    width: 0px;
    width: 100%;
}

#navbar a:hover:before,
#navbar li:hover>a:before,
#navbar .active:before{
    visibility: visible;
    width: 100%;
}

#navbar a:hover,
#navbar .active,
#navbar .active:focus,
#navbar li:hover>a{
    color: #fff;
}

.lazyload{
    margin: 0;
    padding: 0;
}

footer{
    background-color: rgb(13, 13, 13);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /* color: rgba(255, 255, 255, 0.7); */
    color: #d7c379;
    display: flex;
    font-family: 'Poppins';
    height: 100%;
    letter-spacing: 1px;
    padding: 3rem;
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer  img{
    margin-bottom: 0.75rem;
    transition: all 0.4s;
}

footer img:hover{
    opacity: 0.8;
}

#footer-contacts{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-link{
    text-decoration: none;
}

#titles{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text{
    font-family: 'Afacad Flux';
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
}

#carouselExampleSlidesOnly{
    width: 60%;
}

.titlest{
    font-family: 'Modern Antiqua';
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 3rem;
    text-transform: uppercase;
}

.containerMain{
    padding: 35px 10%;
    width: 100%;
}

.titlex{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 10px 0 6px;
    color: #313b44;
}

.textx{
    font-family: 'Afacad Flux';
    font-size: 19px;
    margin-bottom: 1rem;
    margin-right: 5rem;
    text-align: justify;
    line-height: 1.2;
    color: #666;
}

.coluna-00 header.coluna-titulo{
    font-family: 'Poppins';
    letter-spacing: 5px;
    text-transform: uppercase;
}

.coluna-00 .content{
    border-left: solid 2px #bababa;
    padding: 0 30px;
}

.coluna-00 .content .box{
    border: solid 1px #eaeaea;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transition: all 0.4s;
}

.coluna-00 .content .box:hover{
    border: solid 1px transparent;
    box-shadow: 0px 3px 12px 0px #ccc;
}

.coluna-00 .content .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #d7c379;
    border: solid 2px #fff;
}

.img-volei{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo{
    position: absolute;
    top: 7rem;
}